.home-image {
  flex: 0 0 30%;
  padding: $base-spacing;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center 70%;
  @media screen and (orientation: portrait) {
    @include srcset('/assets/images/hpph-l.jpg', 100%);
  }
  @media screen and (orientation: landscape) {
    @include srcset('/assets/images/hpph-l.jpg', 50%);
    flex: 0 0 50%;
    background-position: bottom;
  }
  @media screen and (min-width: $large-screen) {
    flex: 0 0 50%;
  }
}

.listings {
  flex: 0 0 70%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media screen and (orientation: landscape) {
    flex: 0 0 50%;
  }
  @media screen and (min-width: $large-screen) {
    flex: 0 0 50%;
  }

}

.listings--content {
  border-top: $base-border;
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: $small-spacing 0;
  @media screen and (orientation: portrait) {
    padding: $small-spacing 0;
  }
  @media screen and (min-width: $large-screen) {
    padding: $base-spacing 0;
    margin: 0 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    padding: 2 * $base-spacing 0;
    margin: 0 4 * $base-spacing;
  }
}
.listings--footer {
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $small-spacing;
  border-top: $base-border;
  @media screen and (orientation: portrait) {
    padding: $small-spacing $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    padding: $base-spacing 0;
    margin: 0 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    margin: 0 4 * $base-spacing;
  }
  .button {
    font-size: modular-scale(-1);
    line-height: .8em;
    padding-top: .95em;
  }
}

.listings--footer--contact {
  font-size: modular-scale(-2);
}

// Remove after use

.test-switch {
  position: fixed;
  top: 1em;
  left: 1em;
}

html.slide {
  .page-content {
    transform: translateY(-30%);
    @media screen and (orientation: landscape) {
      transform: translateX(-40%);
    }
    @media screen and (min-width: $large-screen) {
      transform: translateX(-50%);
    }
  }
  .listing {
    transform: translateY(0);
    opacity: 1;
  }
}


.listing {
  position: absolute;
  transition: opacity 2 * $base-duration $base-duration;
  opacity: 0;
  transform: translateY(2 * $base-spacing);
  left: 100%;
  width: 50%;
  height: 100%;
}