<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" {% if page.layout == 'film'%}class="slide"{% endif %}>

  {% include head.html %}

  <body>



    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>



    <script>
      var disclaimerBox = document.querySelector('.disclaimer');
      var disclaimerButton = document.querySelector('.disclaimer-close');
      disclaimerButton.addEventListener('click', function(){
        disclaimerButton.parentNode.parentNode.removeChild(disclaimerBox);
      });
    </script>

    {% if page.title == 'test' %}
      <button class="test-switch">GO</button>
      <script>
        var testSwitch = document.querySelector('.test-switch');
        testSwitch.addEventListener('click', function() {
          document.documentElement.classList.toggle('slide');
        });
      </script>
    {% endif %}
  </body>

</html>
