html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  transition: transform $base-duration $base-timing;
  @media screen and (orientation: landscape) {
    flex-direction: row;
  }
}
